@font-face {
  src: url(../assets/fonts/Raleway-Regular.ttf);
  font-family: "Raleway-Regular";
  font-weight: 400;
}
@font-face {
  src: url(../assets/fonts/Raleway-Bold.ttf);
  font-family: "Raleway-Bold";
  font-weight: 700;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  font-family: "Raleway-Regular", sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

.container {
  padding: 0 1.5rem;
}
.container--fylo {
  width: min(100%, 57.5rem);
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
@media (min-width: 64.0625rem) {
  .container--fylo {
    flex-direction: row;
    align-items: flex-end;
    gap: 1.875rem;
  }
}

.fylo {
  display: flex;
  align-items: center;
  min-height: 100vh;
  background-color: hsl(229, 57%, 11%);
  background-image: url(../assets/images/bg-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-width: 64.0625rem) {
  .fylo {
    background-image: url(../assets/images/bg-desktop.png);
    background-size: 100% auto;
    background-position: bottom left;
  }
}
.fylo__logo-area, .fylo__storage {
  background-color: hsl(228, 56%, 26%);
  padding: 2.5rem;
  border-radius: 0.625rem;
}
.fylo__logo-area {
  border-top-right-radius: 6.25rem;
}
@media (min-width: 64.0625rem) {
  .fylo__logo-area {
    min-width: 21.875rem;
  }
}
.fylo__logo-area-top {
  margin-bottom: 2.0625rem;
}
.fylo__logo-area-bottom {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.fylo__logo-area-bottom-item {
  width: 3rem;
  height: 3rem;
  border-radius: 0.625rem;
  background-color: hsl(229, 57%, 11%);
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.fylo__storage {
  position: relative;
}
@media (min-width: 64.0625rem) {
  .fylo__storage {
    width: 33.75rem;
    height: 9.625rem;
  }
}
.fylo__storage-used-info {
  font-size: 0.875rem;
  color: hsl(243, 100%, 93%);
}
.fylo__storage-used-info-highlight {
  font-weight: bold;
}
.fylo__storage-left {
  position: absolute;
  left: 0;
  right: 0;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}
@media (min-width: 64.0625rem) {
  .fylo__storage-left {
    justify-content: flex-end;
    top: -2.9375rem;
    right: 2.5rem;
  }
}
.fylo__storage-used-space {
  position: relative;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  height: 1.25rem;
  background-color: hsl(229, 57%, 11%);
  border-radius: 0.625rem;
}
.fylo__storage-used-space-progress {
  width: 80%;
  background: linear-gradient(to right, #ffa197, #ff4a95);
  height: 0.9375rem;
  border-radius: 0.625rem;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0.1563rem;
}
.fylo__storage-used-space-progress::after {
  content: "";
  width: 0.625rem;
  height: 0.625rem;
  border-radius: 50%;
  background-color: hsl(0, 0%, 100%);
  position: absolute;
  right: 0.3125rem;
  top: 0;
  bottom: 0;
  margin: auto;
}
.fylo__storage-count {
  display: flex;
  justify-content: space-between;
  color: hsl(243, 100%, 93%);
}
.fylo__storage-left-area {
  background-color: hsl(0, 0%, 100%);
  padding: 1rem 1.5rem;
  border-radius: 0.625rem;
  max-width: 11.1875rem;
  display: flex;
  gap: 0.5625rem;
  align-items: center;
  justify-content: center;
  position: relative;
}
@media (min-width: 64.0625rem) {
  .fylo__storage-left-area {
    border-bottom-right-radius: 0;
  }
  .fylo__storage-left-area::after {
    content: "";
    width: 0;
    height: 0;
    border-bottom: 1.25rem solid transparent;
    border-right: 1.25rem solid hsl(0, 0%, 100%);
    border-left: 1.25rem solid transparent;
    position: absolute;
    bottom: -1.25rem;
    right: 0;
  }
}
.fylo__storage-left-area-title {
  font-family: "Raleway-Bold", sans-serif;
  font-size: 2.5rem;
  line-height: 2.5rem;
}
.fylo__storage-left-area-title-small {
  font-family: "Raleway-Bold", sans-serif;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.0625rem;
}

/*# sourceMappingURL=main.css.map */
